.k-appbar {
  background-color: transparent;
}

.k-appbar ul {
  font-size: 1.2em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.k-appbar li {
  margin: 0 10px;
}

.k-appbar li a {
  color: #FFFFFf;
}

.k-appbar li a:hover {
  cursor: pointer;
  color: #FFDAA6;
  font-weight: bold;
  text-decoration: none;
}

.k-appbar .k-appbar-section a:hover {
  text-decoration: none;
}

.k-appbar.p-main-nav {
  box-shadow: 0px 1px 3px rgba(198, 128, 63, 0.7);
}

.k-textbox-container {
  width: 100% !important;
}

.k-textbox-container > .k-label {
  font-weight: bold;
}

.k-listview.p-k-listview {
  border: none;
  background-color: transparent;
  color: inherit;
}

.k-listview.p-k-listview .k-listview-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.k-pager-wrap.p-k-pager-wrap {
  background-color: transparent;
  border: none;
}

.k-pager-wrap.p-k-pager-wrap .k-pager-numbers .k-link {
  border-color: #FFDAA6;
  background-color: #E69B55;
}

.k-pager-wrap.p-k-pager-wrap .k-pager-numbers .k-link.k-state-selected {
  border-color: #826C5F;
  background-color: #826C5F;
}

header {
  background-color: transparent;
}

.hero {
  position: absolute;
  background-color: transparent;
  top: 0;
  height: calc(350px + 110px);
  width: 100%;
  z-index: -2;
}

.banner {
  max-width: 100%;
  background: url(/images/banner-image.jpg) no-repeat center center;
  background-size: cover;
  height: calc(350px + 110px);
  z-index: -2;
}

.banner-content-area {
  height: 350px;
  width: 100%;
  background-size: cover;
  position: relative;
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: #7C6C63;
  opacity: 0.7;
  position: absolute;
  top: 0;
}

.color-overlay.p-charity-image-overlay {
  position: relative;
}

.banner-content-area  h1 {
font: 3em "Raleway", sans-serif;
font-weight: bold;
text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
margin-bottom: 15px;
}

.banner-content-area  h3 {
font: 1.5em "Raleway", sans-serif;
font-weight: 300;
text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
margin-bottom: 40px;
}

footer {
  background-color: #826C5F;
  color: #FFFFFf;
}

footer a {
  color: #FFDAA6;
}

footer a:hover {
  color: #FFDAA6;
}

footer hr {
  background-color: #FFDAA6;
}

.attribution-links {
  font-size: 0.6em;
}

.attribution-links p {
  margin-bottom: 0;
}

.p-charity-involvement-options {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 5;
}

@media only screen and (min-width: 576px) {
  
}