body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFCF7;
  color: #222222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.p-title {
  font-family: 'Playfair Display', serif;
  color: #FFFFFF;
  font-size: 2em;
}

.p-btn-gold {
  background-color: #E69B55 !important;
  color: #FFFFFF !important;
  border: none !important;
}

.p-btn-gold:hover {
  background-color: #C6803F !important;
  color: #FFFFFF;
}

.p-text-gold {
  color: #C6803F !important;
}

.p-text-golden-yellow {
  color: #E69B55 !important;
}

.p-text-peach-puff {
  color: #FFDAA6 !important;
}

.p-bg-gold {
  background-color: #C6803F !important;
}

.p-bg-peach-puff {
  background-color: #FFDAA6 !important;
}

.p-bg-greyish-brown {
  background-color: #826C5F !important;
}

.p-text-greyish-brown {
  color: #826C5F !important;
}

.p-text-greyish-green {
  color: #6E7E74 !important;
}

.p-bg-greyish-green {
  background-color: #6E7E74;
}

.p-sr-only {
  position: absolute;
  top: -9999px;
}

hr.special {
	width: 250px;
	height: 3px;
	background-color: #6E7E74;
	border: 0;
	margin-bottom: 50px;
}